<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ title or "App Flask"}} </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>
    {% include "_navbar.html" %}

    <main class="container">
        <h1>{{ title or "App Flask"}}</h1>
        {% block content %}
        
        {% endblock %}
    </main>

    <footer class="footer">
        <small>{{2025}} - Flask</small>
    </footer>
</body>
</html>